<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #010626">
  <a class="navbar-brand nav-link" style="color: #007bff;" routerLink="/index">My movie place</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies">Ταινίες</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movieShows">Προβολές</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link" routerLink="/admin">admin</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/user">user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Λογαριασμός</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin_panel">Διαχείριση</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/imageUpload">τεστ</a>
      </li>
    </ul>

      <div *ngIf="!isLoggedIn" class="nav-item">
        <a href="/register" class="nav-link" routerLink="/register">register</a>
      </div>
      <div *ngIf="!isLoggedIn" class="nav-item">
        <a href="/login" class="nav-link" routerLink="/login">login</a>
      </div>

    <div *ngIf="isLoggedIn" class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile" (click)="logout()">{{username}}</a>
    </div>

    <div>
      <a class="nav-link" routerLink="/account">Λογαριασμός</a>
    </div>

  </div>
</nav>
<router-outlet></router-outlet>
