<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #010626">
  <a class="navbar-brand nav-link font-weight-bold" style="color: #007bff;" routerLink="/index">My movie place</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="tokenStorageService.getToken()">
        <a class="nav-link" routerLink="/movies">Ταινίες</a>
      </li>
      <li class="nav-item" *ngIf="tokenStorageService.getToken()">
        <a class="nav-link" routerLink="/movieShows">Προβολές</a>
      </li>
      <li class="nav-item" *ngIf="tokenStorageService.getUserRole()==='ADMIN'">
        <a class="nav-link" routerLink="/admin">admin</a>
      </li>
      <li class="nav-item" *ngIf="tokenStorageService.getUserRole()==='USER'">
        <a class="nav-link" routerLink="/user">user</a>
      </li>
      <li class="nav-item" *ngIf="tokenStorageService.getUserRole()==='ADMIN'">
        <a class="nav-link" routerLink="/admin_panel">Διαχείριση</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/imageUpload">τεστ</a>
      </li>
    </ul>

    <div *ngIf="!tokenStorageService.getToken()" class="nav-item">
      <a class="nav-link" routerLink="/register">register</a>
    </div>
    <div *ngIf="!tokenStorageService.getToken()" class="nav-item">
      <a class="nav-link" routerLink="/login">login</a>
    </div>
    <div *ngIf="tokenStorageService.getToken()">
      <a class="nav-link font-weight-bold" routerLink="/account">{{tokenStorageService.getUser()}}</a>
    </div>
    <div *ngIf="tokenStorageService.getToken()" class="nav-item">
      <a class="nav-link" routerLink="/index" (click)="logout()">
        <i class="fa fa-power-off mat-icon-no-color"></i></a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
