.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}


.custom-dark-blue { color: #010626; }
.custom-blue { color: #021F59; }
.custom-light-blue { color: #033E8C; }
.custom-very-light-blue { color: #05DBF2; }
.custom-grey { color: #BFAE99; }

.text {
color: #010626;
}
