<div class="container-fluid mx-auto pt-5 pb-5">

  <div *ngFor="let movie of movies; index as i">
    <div class="row col-sm-12" *ngIf="i % 4 == 0">
      <div class="col-sm-3 mb-5">
        <div class="card" style="width: 18rem;" *ngIf="movies[i]">
          <div class="card-body">
            <h5 class="card-title custom-light-blue">{{movies[i].movieShowsOfMovie[0].roomOfMovieShow.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{movies[i].movieShowsOfMovie[0].showDate |date:'dd/MM/yyyy'}}
             - {{movies[i].movieShowsOfMovie[0].startTime |date:'hh:mm'}}</h6>
            <p class="card-text">Χωρητικότητα : {{movies[i].movieShowsOfMovie[0].roomOfMovieShow.capacity}}</p>
            <p class="card-text">Κρατήσεις {{movies[i].movieShowsOfMovie[0].showTickets.length}}: </p>
            <p class="card-text">Διαθέσιμες θέσεις : {{movies[i].movieShowsOfMovie[0].roomOfMovieShow.capacity-movies[i].movieShowsOfMovie[0].showTickets.length}}</p>
            <a class="card-link text-capitalize text-primary" [routerLink]="['/movieShowEdit']"
               [queryParams]="{'movieId' :movies[i].id, 'movieShowId': movies[i].movieShowsOfMovie[0].id}">Επεξεργασία</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-5">
        <div class="card" style="width: 18rem;" *ngIf="movies[i+1]">
          <div class="card-body">
            <h5 class="card-title custom-light-blue">{{movies[i+1].movieShowsOfMovie[0].roomOfMovieShow.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{movies[i+1].movieShowsOfMovie[0].showDate |date:'dd/MM/yyyy'}}
              - {{movies[i+1].movieShowsOfMovie[0].startTime |date:'hh:mm'}}</h6>
            <p class="card-text">Χωρητικότητα : {{movies[i+1].movieShowsOfMovie[0].roomOfMovieShow.capacity}}</p>
            <p class="card-text">Κρατήσεις {{movies[i+1].movieShowsOfMovie[0].showTickets.length}}: </p>
            <p class="card-text">Διαθέσιμες θέσεις : {{movies[i+1].movieShowsOfMovie[0].roomOfMovieShow.capacity-movies[i+1].movieShowsOfMovie[0].showTickets.length}}</p>
            <a class="card-link text-capitalize text-primary" [routerLink]="['/movieShowEdit']"
               [queryParams]="{'movieId' :movies[i+1].id, 'movieShowId': movies[i+1].movieShowsOfMovie[0].id}">Επεξεργασία</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-5">
        <div class="card" style="width: 18rem;" *ngIf="movies[i+2]">
          <div class="card-body">
            <h5 class="card-title custom-light-blue">{{movies[i+2].movieShowsOfMovie[0].roomOfMovieShow.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{movies[i+2].movieShowsOfMovie[0].showDate |date:'dd/MM/yyyy'}}
              - {{movies[i+2].movieShowsOfMovie[0].startTime |date:'hh:mm'}}</h6>
            <p class="card-text">Χωρητικότητα : {{movies[i+2].movieShowsOfMovie[0].roomOfMovieShow.capacity}}</p>
            <p class="card-text">Κρατήσεις {{movies[i+2].movieShowsOfMovie[0].showTickets.length}}: </p>
            <p class="card-text">Διαθέσιμες θέσεις : {{movies[i+2].movieShowsOfMovie[0].roomOfMovieShow.capacity-movies[i+2].movieShowsOfMovie[0].showTickets.length}}</p>
            <a class="card-link text-capitalize text-primary" [routerLink]="['/movieShowEdit']"
               [queryParams]="{'movieId' :movies[i+2].id, 'movieShowId': movies[i+2].movieShowsOfMovie[0].id}">Επεξεργασία</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-5">
        <div class="card" style="width: 18rem;" *ngIf="movies[i+2]">
        <div class="card-body">
          <h5 class="card-title custom-light-blue">{{movies[i+2].movieShowsOfMovie[0].roomOfMovieShow.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{movies[i+2].movieShowsOfMovie[0].showDate |date:'dd/MM/yyyy'}}
            - {{movies[i+2].movieShowsOfMovie[0].startTime |date:'hh:mm'}}</h6>
          <p class="card-text">Χωρητικότητα : {{movies[i+2].movieShowsOfMovie[0].roomOfMovieShow.capacity}}</p>
          <p class="card-text">Κρατήσεις {{movies[i+2].movieShowsOfMovie[0].showTickets.length}}: </p>
          <p class="card-text">Διαθέσιμες θέσεις : {{movies[i+2].movieShowsOfMovie[0].roomOfMovieShow.capacity-movies[i+2].movieShowsOfMovie[0].showTickets.length}}</p>
          <a class="card-link text-capitalize text-primary" [routerLink]="['/movieShowEdit']"
             [queryParams]="{'movieId' :movies[i+2].id, 'movieShowId': movies[i+2].movieShowsOfMovie[0].id}">Επεξεργασία</a>
        </div>
      </div>
    </div>
  </div>
</div>

