<div class="pt-5 pb-3">
  <div *ngIf="!user" class="card text-center">
    <h6 class="card-header">
      Σύνδεση
    </h6>
    <form class="login-form" [formGroup]="formGroup" (ngSubmit)="loginForm()">
      <div>
        <input class="form-control" placeholder="username" formControlName="email">
      </div>
      <div>
        <input class="form-control" type="password" placeholder="password" formControlName="password">

      </div>
      <button class="form-control" type="submit">Σύνδεση</button>
    </form>
  </div>
</div>

<div class="pt-5 pb-3">
  <div *ngIf="!user" class="card text-center">
    <h6 class="card-header">
      Συνδεσή με λογαριασμό Google <fa-icon [icon]="faGoogle"></fa-icon>
    </h6>
    <div class="card-block">
      <button type="button" mdbBtn color="red" class="waves-light" mdbWavesEffect (click)="signInWithGoogle()">
        <i class="fab fa-google-plus left"></i>Google+</button>
    </div>
  </div>
  <div *ngIf="user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img *ngIf="user.photoUrl" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
      <p class="card-text">Logged in with {{ user.provider }}</p>
      <p class="card-text">{{ user.idToken }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
    <div class="card-block" *ngIf="user.provider === GoogleLoginProvider.PROVIDER_ID">
      <button class="btn" (click)="refreshGoogleToken()">Refresh google token</button>
    </div>
  </div>
</div>

