<div class="container mx-auto pt-5 pb-5">

  <div *ngIf="!isLoggedIn && !socialUser" class="card card-container mb-2">
    <div class="card-header text-sm-center custom-blue">Σύνδεση</div>
    <form
          name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group row col-12 p-3 justify-content-around">
        <div class="col-sm-5 text-sm-center custom-blue">
          <label for="username">Username</label></div>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
                 required #username="ngModel" id="username"/>
          <div class="alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
            Username is required!
          </div>
        </div>
      </div>
      <div class="form-group row col-12 p-3 justify-content-around">
        <div class="col-sm-5 text-sm-center custom-blue">
          <label for="password">Password</label></div>
        <div class="col-sm-7">
          <input type="password" class="form-control" name="password" id="password"
                 [(ngModel)]="form.password" required minlength="6" #password="ngModel">
          <div class="alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Απαιτείται κωδικός πρόσβασης</div>
            <div *ngIf="password.errors.minlength">Ο κωδικός πρόσβασης αποτελείται από τουλάχιστον 6 χαρακτήρες</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block w-25 m-auto" mdbBtn mdbWavesEffect>
          Login
        </button>
      </div>

      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{role}}.
    </div>
  </div>


  <div *ngIf="!isLoggedIn && !socialUser" class="card card-container mt-2">
    <div *ngIf="!socialUser" class="card-header text-sm-center custom-blue">Συνδεσή με λογαριασμό Google
      </div>
    <div *ngIf="!socialUser" class="card-block m-auto">
      <button type="button" mdbBtn color="red" class="waves-light " mdbWavesEffect (click)="signInWithGoogle()">
        <i class="fab fa-google-plus left "></i>Google+</button>
    </div>
  </div>

</div>
