<mat-form-field appearance="standard">
  <mat-label>Επιλέξτε ημερομηνία</mat-label>
  <!-- #docregion toggle -->
  <input matInput [matDatepicker]="picker"
         (dateInput)="getDate($event)" (dateChange)="getDate($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <!-- #enddocregion toggle -->
</mat-form-field>
<button type="button" mdbBtn size="md" color="custom-grey"
        class="fab left mx-5" (click)="sendDate()" style="color: #021F59">Αναζήτηση</button>
