
/*.Vintage-film-projector-and-film-screening-1-hex { color: #038C8C; }*/
/*.Vintage-film-projector-and-film-screening-2-hex { color: #025959; }*/
/*.Vintage-film-projector-and-film-screening-3-hex { color: #F2B705; }*/
/*.Vintage-film-projector-and-film-screening-4-hex { color: #D96704; }*/
/*.Vintage-film-projector-and-film-screening-5-hex { color: #733702; }*/

.custom-light-blue { color: #038C8C; }
.custom-green { color: #025959; }
.custom-yellow { color: #F2B705; }
.custom-orange { color: #D96704; }
.custom-brown { color: #733702; }


.custom-dark-blue { color: #010626; }
.custom-blue { color: #021F59; }
.custom-light-blue { color: #033E8C; }
.custom-very-light-blue { color: #05DBF2; }
.custom-grey { color: #BFAE99; }
