<div class="container-fluid mx-auto pt-5 pb-5">

  <div *ngFor="let movie of movies; index as i">
    <div class="row col-sm-12" *ngIf="i % 3 == 0">
      <div class="col-sm-4 mb-5">
        <div class="card" *ngIf="movies[i]">
          <img class="card-img-top" [src]="'data:image/jpeg;base64,'+movies[i].poster">
          <div class="card-body">
            <h5 class="card-title">{{movies[i].title}}</h5>
            <p class="card-text text-justify"> {{movies[i].description}}</p>
          </div>
          <div class="list-group list-group-flush">
            <div class="list-group-item"><span>Προβολές :</span><br>
              <li *ngFor="let movieShow of movies[i].movieShowsOfMovie">
                {{movieShow.showDate | date:'dd/MM/yyyy'}} <span> ώρα </span>
                {{movieShow.startTime | date:'hh:mm'}}
                <span>αίθουσα : {{movieShow.roomOfMovieShow.id}}</span>
                <br>
                <span>Διαθέσιμες θέσεις {{movieShow.roomOfMovieShow.capacity-movieShow.showTickets.length}}</span>
                <br></li></div>
            <div class="list-group-item nav-link">
              <a [routerLink]="['/purchase']" [queryParams]="{movieId : movies[i].id}">Κράτηση</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-5">
        <div class="card" *ngIf="movies[i+1]">
          <img class="card-img-top" [src]="'data:image/jpeg;base64,'+movies[i+1].poster">
          <div class="card-body">
            <h5 class="card-title">{{movies[i + 1].title}}</h5>
            <p class="card-text text-justify"> {{movies[i + 1].description}}</p>
          </div>
          <div class="list-group list-group-flush">
            <div class="list-group-item"><span>Προβολές :</span><br>
              <li *ngFor="let movieShow of movies[i+1].movieShowsOfMovie">
                {{movieShow.showDate | date:'dd/MM/yyyy'}} <span> ώρα </span>
                {{movieShow.startTime | date:'hh:mm'}}
                <span>αίθουσα : {{movieShow.roomOfMovieShow.id}}</span>
                <br>
                <span>Διαθέσιμες θέσεις {{movieShow.roomOfMovieShow.capacity-movieShow.showTickets.length}}</span>
                <br></li></div>
            <div class="list-group-item nav-link">
              <a [routerLink]="['/purchase']" [queryParams]="{movieId : movies[i+1].id}">Κράτηση</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-5">
        <div class="card" *ngIf="movies[i+2]">
          <img class="card-img-top" [src]="'data:image/jpeg;base64,'+movies[i+2].poster">
          <div class="card-body">
            <h5 class="card-title">{{movies[i + 2].title}}</h5>
            <p class="card-text text-justify"> {{movies[i + 2].description}}</p>
          </div>
          <div class="list-group list-group-flush">
            <div class="list-group-item"><span>Προβολές :</span><br>
              <li *ngFor="let movieShow of movies[i+2].movieShowsOfMovie">
                {{movieShow.showDate | date:'dd/MM/yyyy'}} <span> ώρα </span>
                {{movieShow.startTime | date:'hh:mm'}}
                <span>αίθουσα : {{movieShow.roomOfMovieShow.id}}</span>
                <br>
              <span>Διαθέσιμες θέσεις {{movieShow.roomOfMovieShow.capacity-movieShow.showTickets.length}}</span>
              <br></li></div>
            <div class="list-group-item nav-link">
              <a [routerLink]="['/purchase']" [queryParams]="{movieId : movies[i+2].id}">Κράτηση</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
